<h2 class="product-title">Våra Produkter</h2>
<section class="product-grid">
    <article *ngFor="let product of products" class="product-card">
        <a [routerLink]="['/products', product.urlSlug]">

            <span class="nyhet" *ngIf="isNew(product)">Nyhet</span>
            
            <img src={{product.image}} alt="">
            <i class="bi bi-suit-heart"></i>
            
            <div class="info">
                <div class="product-name">{{product.productName}}</div>
                <div class="product-price">{{product.productPrice}}SEK</div>
            </div>
        </a>
        <button (click)="addToCart(product)">Lägg i varukorg</button>
    </article>
</section>