<h1>Kassan</h1>

<h2>Kunduppgifter</h2>

<form>
    <div class="form-group">
        <label for="first-name">Förnamn</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="last-name">Efternamn</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="e-mail">E-post</label>
        <input type="text">
    </div>


    <h2>Adress</h2>


    <div class="form-group">
        <label for="street">Gata</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="zip-code">Postnummer</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="city">Stad</label>
        <input type="text">
    </div>

    <div class="buy">
        <button>Köp</button>
    </div>
</form>